<div id="header-box">
<h1>Best Kind Brewery</h1>

<nav>
    <a href="/">Home</a>
    <!-- <a href="/about">About</a> -->
    <a href="/beer">Beer</a>
    <a href="/locations">Locations</a>
    <a id="bookVisit-btn" href="/bookings">Book a Visit</a>
</nav>
</div>