<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />  
    <title>Beer</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>
</head>
<body>

    <%- include('./partials/header.ejs') %>

<div id="beerEjs-Banner">
    
    <div id="piechart">
        <h2>Battle of the Beer</h2>
        <canvas id="beerGraph" style="width:100%;max-width:700px"></canvas>
    </div>

    <div id="winning-beer">
        <h3 id="topBeer-h3"></h3>
        <img src="/images/beerId1.jpg" alt="Beer currently in the lead" width="300" height="100%"> 
    </div>

    </div>


    <% beer.forEach(singleBeer => { %>
        <p>Beer Type: <%= singleBeer.beer_type %></p>
        <p>Beer Name: <%= singleBeer.beer_name %></p>
        <p>Price Single: <%= singleBeer.price_single %></p>
        <p>--------------------------------------------------------</p>
   
    <% }); %>

    <script src="/js/script.js"></script>
    
</body>
</html>