<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Kind Brewery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
</head>
<%- include('./partials/header.ejs') %>
<body>

    <div id="battleBeer-banner">

        <img src = "" id= "rotating-banner" alt="Rotating Beer Images" width="100%" height="100%">
    
        <h2>Battle of the Beer</h2>
        <canvas id="beerGraph" style="width:100%;max-width:700px"></canvas>
    </div>

    

    <script src="/js/script.js"></script>
</body>
</html>